html, body {height: 100%; font-family: sans-serif; color: white; text-shadow: 1px 1px rgba(0,0,0,0.7);}
a {color: mediumaquamarine;}
body {background: url(images/xD.png); background-size: cover; background-attachment: fixed; height: 100%;}
div {padding: 0;}
input[type=text] {width: 250px;}

.notice {text-align: center; color: white; background: rgba(0,0,0,0.5); display: inline-block; padding: 2px; border-radius: 16px;}

.title {user-select: none; -moz-user-select: none; -webkit-user-select: none; margin: 0; font-size: 2em; text-align: left; font-family: "Arial Black","Arial",sans-serif; font-weight: 900; padding: 10px; border-radius: 10px 10px 0 0; background: linear-gradient(to right, rgba(9, 93, 165,1), rgba(9, 93, 165,0.5)); display: block;}
:target .title:before {content:"Developer Mode"; display: block; font-size: 13px; font-weight: normal; color: red; font-family: "Arial", sans-serif;}

.content {min-width: 1%; max-width: 70%; min-height: 100vh; max-height: none!important; margin: 10px auto; text-align: left; font-size: 80%; background: linear-gradient(rgba(9, 93, 165,0.5), rgb(9, 93, 165,0)); border-radius: 10px; word-wrap: break-word;}

.images {display: inline-flex; flex-wrap: wrap; word-break: break-all; background: url(images/imagesbg.png) fixed; width: 98%; height: auto; margin: 1%; padding: 0; border-radius: 10px; box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5); animation: bgScroll 1s linear infinite; text-align: center; overflow: hidden;}
.images .image {position: relative; vertical-align: text-bottom;  float: left; align-self: flex-end; word-wrap: break-word; word-break: break-all; padding: 0; margin: 0; line-height: 0; background-color: white;}
.images .image:after {display: block; position: absolute; text-align: left; color: white; font-family: sans-serif; word-break: keep-all; text-overflow: ellipsis; font-weight: bold; width: calc(100% - 8px); min-height: 16px; line-height: 16px; font-size: 12px; padding: 4px; opacity: 0; overflow: hidden;}
.images .image:after, #video.hover:after {content:attr(date) attr(img-desc); top: 0;}
:target .images .image:after, :target #video.hover:after {content: attr(devid)!important;}
.images .image:hover:after {opacity: 0.9;}
.images img {min-width: 64px; max-width: 350px!important; min-height: 64px; max-height: 380px; word-wrap: break-word; transition: 0s; box-shadow: inset 0px 1px rgba(255,255,255,0.2), inset 0px -1px rgba(0,0,0,0.2), inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.2);}}
.image:active img {
    position: fixed!important;
    left: 50%!important;
    top: 50%!important;
    transform: translate(-50%,-50%)!important;
    max-width: 70vh!important; 
    max-height: 70vh!important;
    transition: .5s!important;
    z-index: 9999999!important;
}
.image:active:before {
    content:""!important;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    background: rgba(0,0,0,0.3)!important;
    z-index: 999999!important;
}
@keyframes bgScroll {
  from {background-position: 0 0;}
  to {background-position: 16px 16px;}
}
.images .image.spoiler {box-shadow: inset 0px 1px rgba(255,255,255,0.2), inset 0px -1px rgba(255,255,255,0.2), inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(255,255,255,0.2); background-color: black;}
.images .image.spoiler:hover:after {opacity: 0.5;}
.images .image.spoiler:hover:after {box-shadow: none;}
.images .image.spoiler img {opacity: 0.05;}
.images .image.spoiler:hover img {opacity: 1;}
.images .image.spoiler:before {content:"An admin has marked this \A post as a spoiler. Hover over it to see it."; position: absolute; left: 0; top: 50%; transform: translateY(-50%); text-align: center; visibility: visible!important; display: inline-block; line-height: 16px; background: none; box-shadow: none!important;  word-break: break-all; padding: 5px;}
.images .image.spoiler:hover:before {display: none;}
.images .image.spoiler.user:before {content:"The uploader of the image has marked \A this post as a spoiler. \A Hover over it to see it.";}

:target *:hover {outline: 2px solid yellow;}

.tabcontainer {height: 32px; line-height: 32px; display: block;}
.tab {display: inline-block; float: left; height: 32px; line-height: 32px; position: relative; z-index: 2;}
.tab.right {float: right;}
.tab.right:hover {text-decoration: underline;}
.tab a {color: white; text-decoration: none; width: 100%; display: table-cell; vertical-align: middle; padding: 0 5px;}
.tab:not(.right) a:before {content:"#"; visibility: hidden;}
.tab:not(.right):hover {background: cyan; cursor: pointer;}
.tab:not(.right) a:hover {font-family: "Comic Sans MS"; color: lime; animation: fellowKids linear infinite .8s;}
.tab:not(.right) a:hover:before {visibility: visible;}
@keyframes fellowKids {
	0%, 50%, 100% {transform: rotate(0deg);}
	25% {transform: rotate(40deg);}
	75% {transform: rotate(-40deg);}
}

.tabcontainer, .images .image:before, .images .image:after, #video-controls {background: linear-gradient(rgb(9, 93, 165), rgb(1, 53, 96)); box-shadow: inset 0px 1px rgba(255,255,255,0.2), inset 0px -1px rgba(0,0,0,0.2), inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.2);}

@media (max-width: 768px) {
    .content {width: 100%!important; max-width: 100%; font-size: 90%;}
}